<h3>Useful Links</h3>
<ul>
    <li><a href="https://bitbucket.org/isaiah1112/infoblox/src" target="_blank">iblox @ Bitbucket</a></li>
    <li><a href="https://pypi.python.org/pypi/iblox/" target="_blank">iblox @ PyPi</a></li>
    <li><a href="https://bitbucket.org/isaiah1112/infoblox/issues" target="_blank">Issue Tracker</a></li>
</ul>
<h3>Other Info</h3>
<ul>
    <li><a href="http://choosealicense.com/licenses/lgpl-3.0/" target="_blank">License Text</a></li>
    <li><a href="https://www.infoblox.com/" target="_blank">Infoblox DDI</a></li>
    <li><a href="http://www.jacomputing.net" target="_blank">JA Computing</a></li>
</ul>
